.toggleDrawer {
  position: fixed;
  z-index: 99;
  .iconToggleScreen {
    margin-left: 0.4rem;
  }
}
.drawerContainer {
  position: relative;
  z-index: 2;
  .container {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #1F1D2B;
    height: 100vh;
    color: #fff;
    &::before {
      content: "";
      position: absolute;
      width: 123px;
      height: 123px;
      left: 40%;
      top: 150px;
      filter: blur(90px);
      background-color: #FB37FF;
    }
  
    .divider {
      background-color: #fff;
    }
    .avatarContainer {
      display: grid;
      justify-content: center;
      margin-top: 2rem;
      .username {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }
  }
}