.container {
    .subContainer {
        max-width: 1000px;
        margin: auto;
        margin-top: 10rem;
        border: 1.5px solid #603c81;
        border-radius: 1rem;
        .title {
            text-align: center;
        }
        .formContainer {
            margin-top: 2rem;
            // width: 65%;
            .inputContainer {
                display: flex;
                justify-content: center;
            }
        }
    }
}