.appBar {
  @mixin btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -1px;
    width: 10rem;
    height: 3rem;
  }
    .btnContainer {
      margin-left: 10rem;
      display: flex;
      width: 22rem;
      justify-content: space-between;
      .signUpBtn {
        @include btn;
        border: none;
        color: #FFFFFF;
        background-color: #FF6900;
      }

      .signInBtn {
        @include btn;
        border: 1px solid #FF6900;
        color: #FF6900;
        background-color: #FFFFFF;
      }
    }
}