.appBar {
  @mixin btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -1px;
    width: 10rem;
    height: 3rem;
  }
  background-color: transparent;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    // width: 1200px;
    margin: auto;
    .textLink {
      text-decoration: none;
      font-family: 'system-ui';
      text-transform: none;
      margin-left: 5rem;
      font-size: 1.25rem;
    }
      .navLogo {
        height: 100%;
        color: #FF6900;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        margin-right: 5rem;
      }
    }
    .btnContainer {
      margin-left: 10rem;
      display: flex;
      width: 22rem;
      justify-content: space-between;
      .signUpBtn {
        @include btn;
        border: none;
        color: #FFFFFF;
        background-color: #FF6900;
      }

      .signInBtn {
        @include btn;
        border: 1px solid #FF6900;
        color: #FF6900;
        background-color: #FFFFFF;
      }
    }
}