.homePage {
  background-image: url('../../images/medical-background-img.jpg');
  background-size: cover;
  .container {
      max-width: 1200px;
      padding: 0;
      .infoBox {
        position: relative;
        z-index: 1;
        animation-duration: 0.8s;
        max-height: 500px;
        max-width: 90%;
        overflow: hidden;
        margin: auto;
        padding: 3rem;
        .infoBoxBoldText {
          margin: 0;
          color: #FFFFFF;
          font-size: 65px;
          line-height: 6rem;
          line-height: 60px;
          letter-spacing: -2px;
          text-align: center;
        }
        .infoBoxSlimText {
          margin: 24px 0;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.5px;
          text-align: center;
        }
        // .infoBoxBtnGroup {
        //   display: flex;
        //   justify-content: center;
        //   .exploreBtn {
        //     cursor: pointer;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     padding: 8px 38px;
        //     border-radius: 16px;
            
        //     font-style: normal;
        //     font-weight: 600;
        //     font-size: 13px;
        //     letter-spacing: -1px;
        //     color: #FFFFFF;
        //     border: none;
        //     background: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
        //   }
        //   .aboutUsBtn {
        //     cursor: pointer;
        //     margin-left: 20px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     background-color: transparent;
        //     padding: 8px 38px;
        //     border: 1px solid #D7D7D7;
        //     border-radius: 16px;
            
        //     font-style: normal;
        //     font-weight: 600;
        //     font-size: 13px;
        //     letter-spacing: -1px;
        //     color: #FFFFFF;
        //   }
        // }
      }

  }
}
.homePage {
  position: relative;
}

.homePage::after {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;
}